.about {
  --section-bg: rgba(81, 117, 208, 0.14);

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* padding: 5%; */
  background: rgba(81, 117, 208, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  gap: 30px;
  min-height: 100vh;
  padding: 2rem;
  color: white;
  /* height: 100vh; */
  /* overflow: hidden; */
}

.abouttitle {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.about-block {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  place-items: center;

  .stat-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 512px;

    .stat-logo {
      img {
        max-width: 416px;
        margin: 0 auto;
        animation: float 6s ease-in-out infinite;
      }
    }

    .stat-bar {
      display: flex;
      width: 100%;
      max-width: 512px;
      text-align: center;
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-radius: 1rem;
      background-color: rgba(81, 117, 208, 0.2);
      backdrop-filter: blur(12px);

      .stat {
        flex-grow: 1;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-top-width: 0px;
        border-bottom-width: 0px;
        padding: 1rem;

        &:last-child {
          border-right-width: 0px;
        }

        &:first-child {
          border-left-width: 0px;
        }

        .stat-number {
          font-size: 1.6rem;
          font-weight: bolder;
        }

        .stat-title {
          font-size: 1.2rem;
        }
      }
    }
  }

  .text-section {
    .text-title {
      font-size: 2rem;
      text-align: center;
      font-weight: bolder;
      padding-bottom: 2rem;
    }

    ul {
      list-style: none;
    }

    li {
      font-size: 1.4rem;
      color: rgba(255, 255, 255, 0.8);
      padding: 0.5rem 0;
    }

    li > ul {
      padding-left: 2rem;

      li {
        padding: 0;
      }
    }
  }

  .about-padding {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .about {
    padding: 1rem 0.5rem;
  }

  .about-block {
    grid-template-columns: 1fr;
    gap: 1rem;

    .stat-section {
      flex-direction: row;
      flex-grow: 1;

      .stat-logo {
        img {
          max-width: 100%;
        }
      }

      .stat-bar {
        flex-direction: column;
        max-width: 142px;

        .stat {
          border-top-width: 2px;
          border-bottom-width: 2px;
          padding: 0.25rem;

          &:last-child {
            border-bottom-width: 0px;
          }

          &:first-child {
            border-top-width: 0px;
          }

          .stat-number {
            font-size: 1.2rem;
          }

          .stat-title {
            font-size: 1rem;
          }
        }
      }
    }

    .text-section {
      .text-title {
        font-size: 1.4rem;
      }

      li {
        font-size: 1rem;
      }
    }

    .about-padding {
      padding-left: 0;
    }

    .-order-1 {
      order: -1;
    }

    .rev-flex {
      flex-direction: row-reverse;
    }
  }
}

@keyframes float {
	0% {
    filter: drop-shadow(0 5px 15px 0px rgba(0,0,0,0.6));
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
    filter: drop-shadow(0 25px 15px 0px rgba(0,0,0,0.2));
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {
    filter: drop-shadow(0 5px 15px 0px rgba(0,0,0,0.6));
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}