.mobileButton {
  position: fixed;
  bottom: 5vw;
  right: 7vw;
  z-index: 10;
}

@media only screen and (min-width: 700px) {
  .mobileButton {
    display: none;
  }
}

.fixButton {
  height: 65px;
  width: 65px;
  position: relative;
  padding: 1em;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: #ae00ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
}

.fixButton:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
}

.fixButton span {
  position: absolute;
}

.fixButton span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
}

.fixButton:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.fixButton span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
}

.fixButton:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.fixButton span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
}

.fixButton:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.fixButton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
}

.fixButton:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.fixButton:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
}

.fixButton:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

.button {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1);
}

.icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.text {
  margin-left: 10px;
  font-size: 18px;
  opacity: 0;
  white-space: nowrap;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.button:hover .text {
  opacity: 1;
  transform: scaleX(1);
}
/* 
button.register-btn {
  background-color: none;
  text-decoration: none;
  background-color: #212121;
  border: none;

  a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    border-radius: 0.5rem;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }

  a::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: #212121;
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
  }

  a:hover::before {
    transform: scaleY(0);
  }

  a::after {
    content: "";
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #212121;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.5s;
  }

  a:hover::after {
    transform: scaleX(0);
  }

  a span {
    position: relative;
    z-index: 3;
  }
} */

.buttons-mobile {
  display: none;
}

.buttons-desktop {
  display: flex;
  gap: 20px;
  padding: .5rem 0;

  /* From Uiverse.io by Spacious74 */
  button {
    font-size: 1.4em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 3px #000000b4;
  }

  .hero-btn-container {
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    border-radius: 0.9em;
    transition: all 0.4s ease;
  }

  .hero-btn-container::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.4s ease;
  }

  .hero-btn-container:hover::before {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    filter: blur(1.2em);
  }
  .hero-btn-container:active::before {
    filter: blur(0.2em);
  }
}

@media screen and (max-width: 768px) {
  .hero-buttons,
  .buttons-desktop {
    display: none;
  }

  .buttons-mobile {
    display: flex;
    justify-content: center;
    gap: 20px;

    button {
      padding: 10px 20px;
      background-color: transparent;
      border: none;
      color: white;
      display: flex;
      gap: 0.1rem;
      align-items: center;

      .btn-icon {
        width: 24px;
        aspect-ratio: 1;
      }
    }
  }
}
