@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

#prizes {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    /* font-family: "Fugaz One"; */
    padding-bottom: 1rem;
  }
}

.prizes-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4rem;
  align-items: center;
  width: 100%;
  place-items: center;
  max-width: 1080px;

  .prize-card {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    cursor: pointer;

    min-width: 100%;
    text-align: center;
    color: white;

    .prize-icon {
      max-width: 128px;
      margin: 0 auto;
    }

    .prize-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: .5rem;
      flex-grow: 1;
      padding-top: 1rem;

      font-family: "Fugaz One";
    }

    .prize-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .prize-amount {
      font-size: 2.2rem;
      font-weight: bold;
    }
  
    &#first-prize {
      scale: 1.2;
    }

    &#second-prize {
      --border-bg: radial-gradient(at left top, #cad0ff, #e3e3e3);
    }

    &#third-prize {
      --border-bg: radial-gradient(at left top, #d4781a, #aa3678);
    }
  }
}

/* ---------- Begin .rotating-border ---------- */
@keyframes border-spin {
  from {transform: translate(-50%, -50%) rotate(0);}
  to   {transform: translate(-50%, -50%) rotate(360deg);}
}
.rotating-border {
  --border-radius: 1rem;
  --border-size: 4px;
  --border-bg: radial-gradient(at left top, #f4d941, #ec8235);
  
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  padding: calc(var(--padding) + var(--border-size));
  border-radius: var(--border-radius);
  display: inline-block;
  
  &::before {
    content: '';
    display: block;
    background: var(--border-bg);
    width: calc(100% * 2);
    padding-bottom: calc(100% * 2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: -2;
    animation: border-spin 5s linear infinite;
  }
  &--reverse::before{
    animation-direction: reverse;
  }
  &::after{
    content: '';
    position: absolute;
    inset: var(--border-size);
    /* background: white; */
    background: #2e3039;
    z-index: -1;
    border-radius: calc(var(--border-radius) - var(--border-size));
  }
}
/* ---------- End .rotating-border ---------- */


@media screen and (max-width: 768px) {
  #prizes {
    padding: 1rem;
  }

  #first-prize {
    scale: 1 !important;
    order: -1;
  }

  .prizes-grid {
    grid-template-columns: minmax(0, 1fr);
    padding: 1rem 2rem;
  }
}
  