.sponsors-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 2%;
  background: #0a0d18;
  color: #ffffff;
}

.sponsors-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.sponsors-category {
  width: 90%;
  margin-bottom: 4rem;
}

.category-title-gold {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #f9b234;
}

.category-title-platinum {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #808080;
}

.sponsors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.sponsor-card {
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  background-color: #2d3436;
}

.sponsor-platinum {
  /* background: linear-gradient(135deg, #e5e5e5, #ffffff); */
  background: linear-gradient(135deg, rgba(229, 229, 229, 0.3), rgba(255, 255, 255, 0.1));
}

.sponsor-gold {
  /* background: linear-gradient(135deg, rgba(255, 215, 0, 0.3), rgba(255, 244, 204, 0.1)); */
  background: linear-gradient(135deg, rgba(255, 223, 77, 0.3), rgba(255, 249, 214, 0.1));
}

/* .sponsor-card.gradient-blue {
  background: linear-gradient(135deg, #114353, #96aeea);
} */
/* 
.sponsor-card.gradient-orange {
  background: linear-gradient(135deg, #452a0e, #ffa07a);
} */

/* .sponsor-card.gradient-purple {
  background: linear-gradient(135deg, #20114c, #b19cd9);
} */

.sponsor-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sponsor-link {
  display: block;
}

.sponsor-logo {
  max-width: 80%;
  height: auto;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.sponsor-card:hover .sponsor-logo {
  opacity: 0.8;
}

@media only screen and (max-width: 900px) {
  .sponsors-title {
    font-size: 2rem;
  }

  .category-title {
    font-size: 1.5rem;
  }

  .sponsors-grid {
    grid-template-columns: 1fr;
  }
}